			nav ul, nav ol {
				list-style:none;  
			}
            
            .navmax{
                     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
            }
			
			.navmax > li {
				float:left;
                order: 1px solid white;
			}
			
			.navmax li a {
				background-color:white;
				color:orange;
				text-decoration:none;
                border: 1px solid white;
				padding:2px 12px;
				display:block;
			}
			
			.navmax li a:hover {
                color:green
			}
			
			.navmax li ul {
				display:none;
				position:absolute;
				min-width:150px;
				z-index:30;
			}
			
			.navmax li:hover > ul {
				display:block;
			}
			
			.navmax li ul li {
				position:relative;
			}
			.navmax .submenu{
			    max-width: 150px;
			}
			.navmax li ul li ul {
				right:-150px;
				top:0px;
				z-index:31;
			}